.nprogress {
  pointer-events: none;
  z-index: 99999;
}

.nprogress .bar {
  background: var(--primary);

  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;

  width: 100%;
  height: 2.5px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}

/* Fancy blur effect */
.nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;

  box-shadow:
    0 0 32px color-mix(in srgb, var(--primary) 35%, transparent),
    0 0 14px color-mix(in srgb, var(--primary) 65%, transparent);
}

/* Remove these to get rid of the spinner */
.nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

.nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--primary);
  border-left-color: var(--primary);
  border-radius: 50%;

  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent .nprogress .spinner,
.nprogress-custom-parent .nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
